.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img {
    max-width: 12.5rem;
    margin-bottom: 1rem;
}

.text {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
