.root {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
	grid-template-rows: minmax((12.5rem, min-content));
	gap: clamp(0.8rem, 0.3rem + 1vw, 2rem);
	place-items: center;
	margin-bottom: 2rem;

	& > li {
		max-width: 250px;
	}
}

